<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/mjh2550/appdown/master/eConsent-RCHSP-Staging.ipa</string>
                </dict>
                <!-- <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>url</key>
                    <string>https://yourdomain.com/apps/yourapp-icon.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>url</key>
                    <string>https://yourdomain.com/apps/yourapp-icon@2x.png</string>
                </dict> -->
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.rchsp.eConsentStg</string><!-- bundle-id(app-id) -->
                <key>bundle-version</key>
                <string>2.0.2</string><!-- app 버전 정보 -->
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>eConsent-RCHSP</string><!-- product name(target name) -->
            </dict>
        </dict>
    </array>
</dict>
</plist>
